target/
build/
.idea/
.gradle/
.svn/
*.iml
*.swp
*.log
*.db
logs/
LOG*/
api/LOG_PATH_IS_UNDEFINEDLOG_FILE_IS_UNDEFINED
*/config/logback-spring.xml
*/config/produce.yml
docker-deploy-lib.sh
data/
dist/
*.jar